@media (max-width: 575.98px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  #navMenu {
    position: absolute;
    top: 50px;
    right: 0px;
    transition: 0.5s;
  }
  .bar i {
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 2;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.5s;
    color: var(--c1);
  }
  #menu {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 2;
    transition: 0.5s;
  }
  .menu {
    width: 0;
    height: 0;
    background: #000;
    border-radius: 100% 0% 0% 100% / 50% 0% 100% 50%;
    background: var(--g2);
    position: relative;
    overflow: hidden;
  }
  .menu ul {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    /* margin-top: 0; */
    text-align: right;
    height: auto;
    position: absolute;
    top: 90px !important;
    right: 30px;
  }
  /* .menu ul::before {
    content: "";
    width: 250px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;

    background: var(--g2);
    opacity: 0.5;
    z-index: 1;
  } */
  .menu ul i {
    font-size: 2.5rem;
    position: absolute;
    top: -50px;
    left: 70%;
    z-index: 100;
    color: var(--c1);
  }
  .menu ul li {
    margin-bottom: 15px;
  }
  .n_btn {
    display: none;
  }
}
